.position {
    position: absolute;
    z-index: -10;
    .player {
        width: 25px;
        height: 25px;
        border-radius: 9px 9px 5px 5px;
        &::before,
        &:after {
            content: "";
            position: absolute;
            background-color: rgba(256, 256, 256, .7);
        }
        &:before {
            top: 10px;
            left: 7px;
            width: 12px;
            height: 10px;
            border-radius: 3px;
        }
        &:after {
            top: 2px;
            left: 11px;
            width: 4px;
            height: 8px;
        }
    }
    .health {
        position: absolute;
        top: -13px;
        width: 20px;
        height: 4px;
        opacity: .9;
    }
}

.goal {
    border-radius: 50%;
    position: absolute;
    border: 3px solid #bea519;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -15;
    transform: translate(-50%, -50%);
    svg {
        width: 75%;
        height: 75%;
        &.star {
            fill: #e6ca2c;
            animation: rotateRight 15s linear infinite;
        }
    }
}

.bonus {
    width: 32px;
    height: 32px;
    border-radius: 25%;
    border: 2px solid #675645;
    background-color: #e1d798;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: -14;
    animation: wiggle 1.5s alternate linear infinite;
    // &::before, &::after {
    //     content: '';
    //     position: absolute;
    //     left: 15%;
    //     width: 70%;
    //     height: 10%;
    //     background-color: #675645;
    // }
    // &::before {
    //     top: 10%;
    // }
    // &::after {
    //     bottom: 10%;
    // }
    svg {
        width: 65%;
        height: 65%;
    }
}

.workshop {
    border-radius: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -5;
    svg {
        width: 80%;
        height: 80%;
        animation: rotateRight 5s linear infinite;
        path {
            fill: #e1d798;
        }
    }
}

.game-won {
    &-bg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .2;
        z-index: 10;
    }
    &-titles {
        text-shadow: 6px 6px 6px #000;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 20;
        strong {
            text-transform: uppercase;
            font-size: 96px;
            margin: 24px;
            &:nth-of-type(2) {
                letter-spacing: 12px;
                font-size: 120px;
            }    
        }
        .restart {
            cursor: pointer;
            margin-top: 60px;
            padding: 24px;
            font-size: 24px;
            font-weight: bold;
            color: #e1d798;
            background-color: #675645;
            border: none;
            z-index: 20;
        }
    }
}

@keyframes rotateRight {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@keyframes wiggle {
    0% { transform: rotate(-7deg) translate(-50%, -50%);}
    50% { transform: rotate(0deg) translate(-50%, -50%);}
    100% { transform: rotate(7deg) translate(-50%, -50%);}
}