.position {
    position: absolute;
    .player {
        width: 25px;
        height: 25px;
        border-radius: 9px 9px 5px 5px;
        &::before,
        &:after {
            content: "";
            position: absolute;
            background-color: rgba(256, 256, 256, .7);
        }
        &:before {
            top: 10px;
            left: 7px;
            width: 12px;
            height: 10px;
            border-radius: 3px;
        }
        &:after {
            top: 2px;
            left: 11px;
            width: 4px;
            height: 8px;
        }
    }
    .health {
        position: absolute;
        top: -10px;
        width: 20px;
        height: 3px;
        opacity: .75;
    }
}

.goal {
    border-radius: 50%;
    position: absolute;
    border: 3px solid #bea519;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 75%;
        height: 75%;
        &.heart {
            fill: #e13be4;
        }
        &.star {
            fill: #e6ca2c;
            animation: rotate 15s linear infinite;
        }
    }
}

.workshop {
    border-radius: 35%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 80%;
        height: 80%;
        animation: rotate 5s linear infinite;
        path {
            fill: #e1d798;
        }
    }
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}