.player {
    width: 25px;
    height: 25px;
    border-radius: 9px 9px 5px 5px;
    position: absolute;
    &::before,
    &:after {
        content: "";
        position: absolute;
        background-color: rgba(256, 256, 256, .7);
    }
    &:before {
        top: 10px;
        left: 7px;
        width: 12px;
        height: 10px;
        border-radius: 3px;
    }
    &:after {
        top: 2px;
        left: 11px;
        width: 4px;
        height: 8px;
    }
}

#player1 {
    background-color: blue;
}
#player2 {
    background-color: red;
}
#player3 {
    background-color: green;
}
#player4 {
    background-color: orange;
}

.goal {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    background-color: #666;
    border: 2px solid #000;
    transform: translateX(-13px) translateY(-13px);
}